{% extends "base.html" %}
{% block contenido_cambia %}
{% load static %}

<div>
<!-- page header -->
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">¿Quienes somos?</h1>
            <p class="header-subtitle">Soy Andrés Kaulen, una persona que está aprendiendo a usar Python, me gusta Chile y su naturaleza, por lo que he creado un portal para publicar y poder comentar fotos de naturaleza Chilena usando el lenguaje aprendido. </p>
        </div>
    </header><!-- end of page header -->
</div>
{% endblock %}


