{% extends "base.html" %}
{% block contenido_cambia %}
{% load static %}




<div>
<!-- page header -->
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title"> Lugares del sur de chile. </h1>
            <p class="header-subtitle">Es un pequeño portal en donde puedes compartir lugares del sur de Chile y comentarlos!</p>

        </div>
    </header><!-- end of page header -->


    <!-- page container -->
    <div class="container page-container">
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4">¿Qué hacemos?</h6>
            <p class="mb-5">Te ayudamos en la forma de conseguir la cantidad del producto X que quieras. Los puedes comprar directo al vendedor, sin intermediarios. Lo hacemos de manera sencilla, rápida y fácil. Suena bonito, pero así es. Somos cracks &#128526.</p>
        </div>

    <div class="col-md-10 col-lg-8 m-auto">
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
    </div>


        <!-- row -->
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="{% static 'AppWeb/assets/imgs/img-1.1.jpg' %}" alt="Download free trap">
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">Libertad absoluta</h1>
                        <h6 class="subtitle">nadie queda fuera</h6>
                        <p>Imaginate que lo ocupas todos los días, junto con todos tus seres queridos. Es así de fácil.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="{% static 'AppWeb/assets/imgs/img-2.2.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">Sin costos </h1>
                        <h6 class="subtitle">leíste bien</h6>
                        <p>No hacemos cobros a los productores de Chile, y no significa que cobremos a los extranjeros, es solo que por el momento no estamos en otros países.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="{% static 'AppWeb/assets/imgs/img-3.3.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">Atendido por personas</h1>
                        <h6 class="subtitle">No somos solo una máquina</h6>
                        <p>Entendemos que hoy queremos cuidar nuestro tiempo, pero además, también cuidamos las amistades. Por esta razón somos un canal del agro y estamos disponibles para ayudarte SIEMPRE.</p>
                    </div>
                </a>
            </div>
        </div><!-- end of row -->

        <<!-- <a href="#">Load More <i class="ti-angle-double-right angle"></i></a> -->




        <!-- row -->
        <div class="row mb-5">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="card">
                    <img src="{% static 'AppWeb/assets/imgs/blog-1.jpg' %}" class="card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    <div class="card-body">
                        <h6 class="card-subtitle">30 June, 2018</h6>
                        <h3 class="card-title">Eiusmod
                        tempor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="javascript:void(0)" class="card">
                    <img src="{% static 'AppWeb/assets/imgs/blog-2.jpg' %}" class="card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    <div class="card-body">
                        <h6 class="card-subtitle">29 June, 2018</h6>
                        <h3 class="card-title">Ut minim veniam</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </a>
            </div>
        </div><!-- end of row -->

        <a href="#">All Posts <i class="ti-angle-double-right angle"></i></a>

    </div>
</div>
{% endblock %}


