DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>Fertilizatech</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'AppWeb/assets/vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Dorang main styles -->
	<link rel="stylesheet" href="{% static 'AppWeb/assets/css/dorang.css' %}">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">

    <!-- page navbar -->
    <nav class="page-navbar affix-top" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item"><a href="/usuarios" class="nav-link">Usuarios</a></li>
            <li class="nav-item"><a href="/direcciones#" class="nav-link">Direcciones</a></li>
            <li class="nav-item"><a href="/home" class="nav-link"><img src="{% static 'AppWeb/assets/imgs/Agrocompra-Isotipo1.png' %}" alt="Download"></a></li>
            <li class="nav-item"><a href="/solicitudes" class="nav-link">Solicitudes</a></li>
            <li class="nav-item search">
                <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i> Search</a>
                <div class="search-wrapper">
                    <form>
                        <input type="search" class="form-control" name="" placeholder="hit enter to search">
                    </form>
                </div>
            </li>
        </ul>
    </nav><!-- end of page navbar -->


    <!-- page container -->
     <div>
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4 mt-5 pt-5">Formulario de Solicitudes de hielo</h6>
            <p class="mb-5">3er formulario.</p>
            {% block contenido_cambia %}
                <form action="{% url 'AppWebSolicitudes' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Enviar">
                </form>
                {% if solicitudes %}
                    {% for solicitud in solicitudes %}
                        <P>nombre_solicitud: {{ solicitud.nombre_solicitud }}</P>
                        <P>cantidad [kg]: {{ solicitud.cantidad }}</P>
                    {% endfor %}
                {% else %}
                    <h1>No hay solicitudes en el momento</h1>
                {% endif %}
            {% endblock %}
        </div>
    </div> <!-- end of page container -->

    <!--footer & pre footer -->
    <div class="contact-section">
        <div class="overlay"></div>
        <!-- container -->

            <!-- footer -->
            <footer class="footer">
                <p class="infos">&copy; Hecho para la clase de Coder</i> </a></p>
                <span>|</span>
                <div class="links">
                    <a href="#">About</a>
                    <a href="#">Explore</a>
                    <a href="#">Journal</a>
                </div>
            </footer><!-- end of footer -->

        </div><!-- end of container -->
    </div><!-- end of pre footer -->

    <!-- core  -->
    <script src="{% static 'AppWeb/assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'AppWeb/assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'AppWeb/assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Dorang js -->
    <script src="{% static 'AppWeb/assets/js/dorang.js' %}"></script>

</body>
