{% extends "base.html" %}
{% block contenido_cambia %}
{% load static %}

<div>
<!-- page header -->
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">Usuarios</h1>
        </div>
    </header><!-- end of page header -->
</div>

<div class="container p-4">
    <div>
        <div>
            <form action="{% url 'AppWebUsuarios' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enviar">
            </form>
        <br><hr>

        {% if usuarios %}
            {% for usuario in usuarios %}
                <P>nombre: {{ usuario.nombre }}</P>
                <P>apellido: {{ usuario.apellido }}</P>
                <P>email: {{ usuario.email }}</P>
            {% endfor %}
        {% else %}
            <h1>No hay usuarios en el momento</h1>
        {% endif %}
        </div>
    </div>
</div> <!-- end of page container -->

{% endblock %}


